.title{
    width: 100%;
    height:20px;
    padding:10px 0px;
    border-bottom: 1px solid #ccc;
}
.title .left{
    float:left;
    font-size: 13px;
    color: #666;
    font-weight: 700;
    font-size:14px;
}
.title .right{
    float:right;
    font-size: 13px;
    color: #666;
    font-weight: 700;
}
.title .left .icon{
    width: 16px;
    height: 16px;
    vertical-align: -4px;
    margin-right: 5px;
    background-position: -71px -88px;
    background-image: url(http://7xq5ra.com2.z0.glb.qiniucdn.com/static/images/sprites-1.9.2.4c54885a.png);
    display: inline-block;
    float:left;
    margin-top:5px;
    margin-right:10px;
}
.title .right .icon{
    width: 16px;
    height: 16px;
    background-position: -88px -148px;
    margin-right: 1px;
    vertical-align: -5px;
    background-image: url(http://7xq5ra.com2.z0.glb.qiniucdn.com/static/images/sprites-1.9.2.4c54885a.png);
    display: inline-block;
    float:left;
    margin-right: 5px;
    margin-top:5px;
}

.article-wrap{
    width: 100%;
    height: 170px;
    border-bottom: 1px solid #eee;
    margin-top:10px;
}
.article-wrap .left{
    height: inherit;
    width: 38px;
    float: left;
}
.article-wrap .left .avatar{
    height: 38px;
    width: 38px;
}
.article-wrap .left .label{
    margin-top:5px;
}
.article-wrap .left img{
    height: 38px;
    width: 38px;
    border-radius: 4px;
}
.article-wrap .right{
    width: 584px;
    height: inherit;
    float:right;
    position: relative;
}
.article-wrap .right .author{
    color: #999;
    font-size:13px;
}
.article-wrap .right .author .tag{
    float:left;
}
.article-wrap .right .project{
    margin:0px 5px;
}
.article-wrap .right .project-wrap{
    float:left;
}
.article-wrap .right .project:hover{
    text-decoration:underline;
    color:#259;
}
.article-wrap .right a{
    cursor: pointer;
}
.article-wrap .right .author .action{
    color: #259;
    display: inline-block;
    font-size: 11px;
    border-radius: 3px;
    padding: 0 5px 0 2px;
}
.article-wrap .right .content{
    cursor: pointer;
}
.article-wrap .right .author .name{

}
.article-wrap .right .article-title{
    color: #259;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}
.article-wrap .right .article-title:hover{
    text-decoration:underline;
}
.article-wrap .right .action:hover{
    background-color: rgba(179, 240, 239, 0.42);
}
.article-wrap .right .bottom-action{
    height: 30px;
    width: inherit;
    line-height: 30px;
    color:#999;
    position: absolute;
}
.article-wrap .right .bottom-action .sign-icon{
    display: inline-block;
    line-height: 10px;
    vertical-align: 0;
    background-image: url(http://7xq5ra.com2.z0.glb.qiniucdn.com/static/images/sprites-1.9.2.4c54885a.png);
    background-repeat: no-repeat;
    margin-left: 7px;
    width: 9px;
    height: 9px;
}
.article-wrap .right .bottom-action .focus-question{
    margin-right: 5px;
    margin-left:0px;
    width: 8px;
    background-position: -97px -23px;
}
.article-wrap .right .bottom-action .comment-question{
    background-position: -28px -22px;
}
.article-wrap .right .bottom-action .thanks-question{
    width: 10px;
    background-position: -41px -22px;
}
.article-wrap .right .bottom-action .share-question{
    width: 11px;
    background-position: -67px -22px;
}
.article-wrap .right .bottom-action .collection-question{
    background-position: -56px -22px;
}
.wrap{
    width: 632px;
    float:left;
    min-height: 500px;
}